# Supabase
VITE_SUPABASE_URL=https://yijjclywqrozkgcrzxvv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlpampjbHl3cXJvemtnY3J6eHZ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMDczMzQsImV4cCI6MjA4ODc4MzMzNH0.JjITnZhQGHyUNNiMX-N7paJ666PpkvXYSH70y_75MIQ

# App
VITE_APP_NAME=nano.HR
VITE_GOOGLE_CALENDAR_API_KEY=VITE_GOOGLE_CALENDAR_API_KEY